/* Extra extra large */
@media screen and (max-width: 1400px){
	.header,
	.navigation {
		margin-left: 15px;
		margin-right: 15px;
	}

	.navigation {
		padding: 0px 10px 2px 0px;
	}

	.about-us-benefits {
		flex-basis: 816px;
	}

	.menu__header {
		margin: 50px 0px 50px 100px;
	}

	.portfolio {
		margin-left: 15px;
		margin-right: 15px;
		background: linear-gradient(90deg, rgba(33,31,32,1) 36%, rgba(68,64,63,0) 100%), url(../images/portfolio-bg.png);
	}
}

/* Extra large */
@media screen and (max-width: 1200px){
	.customer-info-wrap {
		width: max-content;
	}

	.header,
	.navigation {
		margin-left: 15px;
		margin-right: 15px;
	}

	.navigation {
		padding: 0px;
	}

	.navigation,
	.sidebar {
		line-height: 25px;
		overflow-x: scroll;
		overflow-y: hidden;
		flex-wrap: nowrap;
	}

	.sidebar__link {
		white-space: nowrap;
		margin-right: 40px;
	}

	.sidebar::-webkit-scrollbar {
		display: none;
	}

	.portfolio {
		gap: 50px;
		background: linear-gradient(90deg, rgba(33,31,32,1) 45%, rgba(68,64,63,0) 100%), url(../images/portfolio-bg.png);
	}

	.menu__header {
		margin: 50px 0px 50px 80px;
	}

	.info-for-client__list {
		gap: 15px;
	}

	.restaurant-info {
		margin-right: 30px;
	}
}

/* Large */
@media screen and (max-width: 992px){
	.banner__text,
	.banner__text--3d {
		font-size: 50px;
		line-height: 53px;
	}

	.banner__text-bg {
		top: 237px;
    left: 285px;
	}

	.banner__text-border {
		top: 250px;
    left: 292px;
	}

	.banner__text--bg-green {
		top: 267px;
    left: 311px;
    font-size: 25px;
    line-height: 27px;
	}
	
	.form {
		flex: none;
	}

	.header {
		margin-left: 15px;
		margin-right: 15px;
	}

	.header-desctop-wrap {
		flex-wrap: nowrap;
	}

	.about-us-benefits {
		display: none;
	}

	.menu__header {
		margin: 50px 0px 50px 50px;
	}

	.contacts {
		left: 63px;
	}

	.home {
		margin-right: 15px;
	}

	.footer-info {
		padding-left: 15px;
		padding-right: 15px;
	}

	.portfolio {
		background: linear-gradient(90deg, rgba(33,31,32,1) 57%, rgba(68,64,63,0) 100%), url(../images/portfolio-bg.png);
	}
}

/* Medium */
@media screen and (max-width: 768px){
	.header-desctop-wrap {
		display: none;
	}

	.header-mobile-wrap {
		display: block;
	}

	.header {
		margin: 0;
		height: 155px;
	}

	.banner__text,
	.banner__text--3d {
		font-size: 42px;
    line-height: 45px;
	}

	.banner__text-bg {
		top: 218px;
    left: 192px;
	}

	.banner__text-border {
		top: 235px;
    left: 199px;
	}

	.banner__text--bg-green {
		font-size: 25px;
    line-height: 27px;
		top: 249px;
    left: 216px;
	}

	.portfolio {
		display: none;
		
	}

	.menu {
		margin-bottom: 0;
	}

	.menu__header {
		margin: 35px 0px 15px 30px;
		font-size: 20px;
	}

	.contacts {
		left: 61px;
		top: 20px;
	}

	.booking {
		gap: 21px;
	}

	.info-for-client {
		display: none;
	}

	.home-restaurant-info-wrap {
		margin: 0 auto;
	}

	.footer-info {
		height: auto;
	}

	.restaurant-info {
		align-items: center;
	}

	.restaurant-info__text {
		text-align: center;
		margin-bottom: 13px;
	}

	.logo__img-footer {
		margin-bottom: 25px;
	}

	.restaurant-info__link {
		margin-bottom: 10px;
	}

	.restaurant-info__link:last-child {
		margin-bottom: 0;
	}

	.map {
		margin-top: 0;
	}
}

/* Small */
@media screen and (max-width: 576px){
	.header {
	margin: 0;
}

.menu__header {
	margin: 35px 0px 15px 30px;
	font-size: 20px;
}

.banner-text {
	background: linear-gradient(90deg, #211F20 0%, rgba(68, 64, 63, 0) 130%);
}

.banner__text,
.banner__text--3d {
	font-size: 29px;
	line-height: 32px;
}

.banner__text-bg {
	top: 199px;
	left: 109px;
	width: 236px;
}

.banner__text-border {
	top: 211px;
	left: 115px;
	width: 236px;
}

.banner__text--bg-green {
	font-size: 21px;
	line-height: 24px;
	top: 223px;
	left: 128px;
}

.contacts {
	left: 15px;
	right: 15px;
	top: 20px;
}

.map-geo__code {
	height: 930px;
}

.booking {
	flex-direction: column;
	padding-top: 29px;
	gap: 33px;
}

.contacts__title {
	text-align: center;
	padding-bottom: 16px;
}

.contact-route {
	display: block;
}

.contact-link {
	margin-bottom: 30px;
}
}

@media screen and (max-width: 576px) {
	.banner__text {
		left: 4.4%;
	}

	.banner__text--3d {
		left: 4%;
	}

	.banner__text-bg {
    left: 69px;
	}

	.banner__text-border {
    left: 79px;
	}

	.banner__text--bg-green {
    left: 89px;
	}
}